span { font-family: Calibri, verdana,arial,sans-serif; }
table {
	font-family: Calibri, verdana,arial,sans-serif;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}

span.Stats table tr {
	background-color:#dddddd;
}

span.Stats table th {
	background-color:#bbddbb;
}

.footer { font-size: 10pt; }